.agenda {

    &__header {
        width: 100%;
        height: 58px;
        background: #FFFFFF;
        box-shadow: 0 -1px 0 0 #E8E8E8, 0 1px 0 0 #E8E8E8;
        display: flex;
        z-index: 2;

        &-search {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 0 16px;
            @include media-query($medium-up) {
                padding: 0 32px;
            }

            &-icon {
                display: flex;
                align-items: center;
                font-weight: 600;

                svg {
                    margin-left: 8px;
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }

        &-filter {
            width: 20%;
            height: 100%;
            border-left: 1px solid #E8E8E8;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 16px;
            @include media-query($medium-up) {
                justify-content: flex-start;
            }
        }

        .fixed & {
            position: fixed;
            top: 0;
            right: 0;
            z-index: 4;
            @include media-query($large-up) {
                top: 0;
                width: calc(100% - 120px);
            }
        }
    }

    &__wrapper {
        display: flex;
        @include media-query($large-up) {
            // flex-wrap: wrap;
        }
    }

    &__days {
        width: 100%;
        height: 90vh;
        z-index: 3;
        @include media-query($large-up) {
            height: calc(100vh - 58px);
        }
        .fixed & {
            position: fixed;
            top: 56px;
            width: 20%;
            @include media-query($large-up) {
                width: calc( (100% - 120px) * 0.2 );
            }
        }

        .bottom & {
            position: absolute;
                top: inherit;
                bottom: 0;
                width: 20%;
                @include media-query($large-up) {
                    width: 20%;
                }
        }
    }

    &__events {
        width: 100%;
        &-header {
            position: absolute;
                top: 0;
            width: 100%;
            height: 40px;
            background: #FFFFFF;
            box-shadow: 0 -1px 0 0 #E8E8E8, 0 1px 0 0 #E8E8E8;
            display: flex;
            align-items: center;
            padding: 0 16px;
            z-index: 3;
            @include media-query($large-up) {
                padding: 0 48px;
                height: 48px;
            }

            .active & {
                position: fixed;
                    top: 58px;
            }

            .bottom & {
                position: absolute;
                    bottom: 0;
            }

            span {
                font-size: 16px;
                font-weight: 700;
                @include media-query($large-up) {
                    font-size: 24px;
                }
            }
        }
    }

    &__left {
        width: 20%;
        @include media-query($large-up) {
            // width: 100%;
        }
    }

    &__right {
        width: 80%;
        .fixed & {
            margin-top: 70px;
        }
    }

    &__day-wrapper {
        position: relative;
        // padding: 40px 0;
        margin-top: 1px;
    }
}

.agenda-day {
    position: relative;
    background: $offWhite;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    text-align: center;
    color: $pine;
    padding: 16px;
    margin-top: 1px;
    height: 25%;
    transition: all 0.4s ease-in-out;
    &:hover {
        cursor: pointer;
    }

    &__month {
        width: 100%;
        font-size: 15px;
        font-weight: 600;
    }

    &__number {
        width: 100%;
        font-size: 20px;
        font-weight: 700;
    }

    &.active {
        background: $coreGreen;
        color: white;
    }
}

.event {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 16px 40px 16px 16px;
    background: #FFFFFF;
    box-shadow: 0 -1px 0 0 #E8E8E8, 0 1px 0 0 #E8E8E8;
    @include media-query($large-up) {
        padding: 32px 48px;
    }

    span {
        width: 100%;
    }

    &__time {
        font-weight: 700;
        font-size: 14px;
        color: $coreGreen;
        letter-spacing: 0;
    }

    &__title {
        font-weight: 700;
        font-size: 13px;
        letter-spacing: 0;
        margin-top: 8px;
        line-height: 15px;
        @include media-query($large-up) {
            font-size: 16px;
            line-height: 18px;
        }
    }

    &__desc {
        font-size: 13px;
        letter-spacing: 0;
        line-height: 15px;
        @include media-query($large-up) {
            font-size: 16px;
            line-height: 18px;
            margin-top: 8px;
        }
    }

    &__tag-wrapper {
        width: 100%;
        margin-top: 12px;
    }

    &__tag {
        font-size: 12px;
        color: $pine;
        background: $lightGray;
        border-radius: 50px;
        padding: 4px 10px;
        margin: 2px;
        line-height: 0;
    }

    &__arrow {
        position: absolute;
            top: 0;
            right: 0;
        height: 100%;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        .arrow-forward {
            transform: none;
        }
    }
}

.agenda-arrow {

    &--small {
        @include media-query($large-up) {
            display: none;
        }
    }

    &--large {
        display: none;
        @include media-query($large-up) {
            display: initial;
        }
    }
}

.agenda-filters {
    position: fixed;
        top: 0;
        right: 0;
    width: 90vw;
    height: 100vh;
    background: $white;
    z-index: 20;
    box-shadow: 0 2px 10px -3px rgba(0,0,0,0.20);
    transform: translateX(100%);
    transition: all 0.4s ease-in-out;
    &.slide{
        transform: none;
    }
    @include media-query($medium-up) {
        position: absolute;
            top: 100%;
            right: initial;
        width: auto;
        height: auto;
        transform: none;
        opacity: 0;
        &.show {
            opacity: 1;
        }
    }


    &__inner {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        padding: 32px;
    }
}

.agenda-filter {
    width: 100%;
    @include media-query($medium-up) {
        width: 100%;
        max-width: 300px;
    }

    input {
        margin: 16px 8px 0 0;
    }
}

.close-filters {
    position: absolute;
        top: 24px;
        right: 24px;
        z-index: 5;
    @include media-query($medium-up) {
        display: none;
    }
}