.home-wrapper {

}

.home-agenda {
    position: relative;
    margin-top: 24px;
    @include media-query($medium-up) {
        margin-top: -104px;
    }

    .guide {
        text-align: left;
    }

    &__guide {
        @include media-query($medium-up) {
            margin-right: 35%;
            height: 256px;
        }
    }

    .small & {
        margin-top: -32px;
    }
}

.home-speakers {
    position: relative;
    background: $offWhite;
    margin-top: 72px;
    @include media-query($large-up) {
        display: flex;
        flex-direction: column;
        height: 602px;
        margin-top: 248px;
    }

    &__heading {
        display: inline-block;
        position: absolute;
            top: 0;
            left: 0;
        transform-origin: right;
        transform: rotate(-90deg) translateY(-300%);
        &::after {
            content: '';
            position: absolute;
                top: 50%;
                right: -88px;
            width: 64px;
            height: 2px;
            background: #CCCCCC;
            @include media-query($large-up) {
                width: 128px;
                right: -152px;
            }
        }
    }

    &__pattern {
        position: absolute;
            top: -88px;
            right: 0;
        width: 80%;
        height: 100%;
    }

    .small & {
        height: 70vh;
        max-height: 602px;
        min-height: 505px
    }
}

.home-venue {
    margin-top: 72px;
    @include media-query($large-up) {
        margin-top: 144px;
    }

    .knockout {
        position: absolute;
            top: 32px;
            left: 0;
        z-index: -1;
    }
}

.home-sponsors {
    position: relative;
    margin-top: 72px;
    padding: 0 16px;
    @include media-query($large-up) {
        padding: 0 130px 0;
    }

    &__pattern {
        position: absolute;
            top: 24px;
            left: 0;
        width: 70%;
        height: 80%;
        z-index: -1;
    }

    &__heading {

        @include media-query($large-up) {
            // padding-left: 125px;
        }
    }

    &__wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        @include media-query($large-up) {
            width: 90%;
            margin-left: 10%;
        }
    }

    &__sponsor {
        position: relative;
        width: 45%;
        text-align: center;
        @include media-query($large-up) {
            width: 30%;
        }

        img {
            height: auto;
            width: 80%;
            object-fit: cover;
            margin: 24px;
        }
    }

    &__cta {
        display: flex;
        justify-content: center;
        padding: 48px;
    }

    .guide-wrapper {
        text-align: left;
        @include media-query($large-up) {
            padding-left: 13%;
        }
    }
}