.speakers {

    &__heading {
        text-align: center;
    }

    &__wrapper {
        position: relative;
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
        padding: 0 16px;
        @include media-query($medium-up) {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            transition: all .3s ease;
        }
    }
}

.speaker {
    position: relative;
    width: 300px;
    margin: 32px auto;
    @include media-query($medium-up) {
        margin: 32px 16px;
    }

    &__inner {
        background: $offWhite;
        border-radius: 4px;
        overflow: hidden;
        width: 100%;
        max-width: 300px;
    }

    &__img {
        width: 100%;
        max-width: 300px;
        height: 300px;
        background-size: cover;
        background-position: center;
    }
    &__link {
        position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
    }

    &__bio {
        display: none;
    }
}

.speaker-info {
    padding: 24px 16px;
    &__name {
        display: block;
        margin: 0;
        font-size: 18px;
        font-weight: 600;
    }

    &__title {
        display: block;
        margin: 8px 0 0;
        font-size: 14px;
        font-weight: 300;
        color: #9B9B9B;
    }
}

.speaker-bio__container {
    position: fixed;
        top: 0;
        right: 0;
    width: 50%;
    height: 100vh;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    padding: 32px;
    overflow-y: auto;
}

.speaker-bio__inner {
    margin: 8% 0;
}


.move {
    position: fixed;
        left: 15%;
}