h1,
h2,
h3,
h4 {
    font-weight: 700;
}

p {
    font-size: 15px;
    letter-spacing: 0;
    line-height: 24px;
    @include media-query($medium-up) {
        font-size: 18px;
        line-height: 32px;
    }

    .small & {
        font-size: 15px;
        letter-spacing: 0;
        line-height: 24px;
    }
}

h1 {
    font-size: 40px;
    color: $pine;
    letter-spacing: -0.025em;
    line-height: 42px;
    @include media-query($large-up) {
        font-size: 54px;
        line-height: 56px;
    }

    .small & {
        font-size: 40px;
        line-height: 42px;
    }
}

h3 {
    line-height: 20.72px;
}

h6 {
    font-weight: 300;
    font-size: 17px;
    color: $pine;
}

