{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper {{ post.title|lower|replace(' ', '-') }}">
		<section class="interior-hero">
            <div class="pattern interior-hero__pattern"></div>
            <div class="interior-hero__wrapper">
                <div class="interior-hero__img" style="background-image: url('{{ TimberImage(post.get_field('hero_image')) }}')">
                    <h1 class="interior-hero__title">{{post.title}}</h1>
                </div>
                <div class="interior-hero__copy">
                    <div class="interior-hero__copy-wrapper">
                        {{post.get_field('hero_about')}}
                    </div>
                </div>
            </div>
        </section>

        {% if post.slug == 'business-consulting-lounge' %}
            {% include 'partial/int/bcl.twig' %}
        {% endif %}

        {% if post.slug == 'lincx' %}
            {% include 'partial/int/lincx.twig' %}
        {% endif %}

        {% if post.slug == 'innovation-alley' %}
            {% include 'partial/int/innovation.twig' %}
        {% endif %}

        {% if post.slug == 'veo-village' %}
            {% include 'partial/int/veo.twig' %}
        {% endif %}

        {% if post.slug == 'first-time-attendee' %}
            {% include 'partial/int/first.twig' %}
        {% endif %}

        {% if post.slug == 'meet-greet' %}
            {% include 'partial/int/meet.twig' %}
        {% endif %}

        {% if post.slug == 'speakers' %}
            {% include 'partial/int/speakers.twig' %}
        {% endif %}

        {% if post.slug == 'sponsors' %}
            {% include 'partial/int/speakers.twig' %}
        {% endif %}

        {% if post.slug == 'agenda' %}
            {% include 'partial/int/agenda.twig' %}
        {% endif %}

        {% if post.slug == 'hotel-travel' %}
            {% include 'partial/int/hotel.twig' %}
        {% endif %}

	</div><!-- /content-wrapper -->
{% endblock %}