{% extends "base.twig" %}

{% block content %}
	<section class="clone">
		<div class="clone-item">
			<div class="clone-item__intro">
				<img src="{{TimberImage(post.get_field('image')).src}}" alt="" class="clone-item__img">
				<h2 class="clone-item__title">{{post.get_field('name')}}</h2>
				<p class="clone-item__pos">{{post.get_field('position')}}</p>
			</div>
			<div class="clone-item__text">
				{{post.get_field('bio')}}
			</div>
		</div><!-- content-item -->
	</section>
{% endblock %}
