{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<h1>{{ post.title }}</h1>
        <h1>TESTING THIS OUT</h1>
		<img src="{{TimberImage(post.image)}}" alt="">
	</div><!-- /content-wrapper -->
{% endblock %}
