<section class="home-carousel">


    <div class="carousel-cell">
        <div class="carousel-cell__img">
            <div class="carousel-cell__img-inner">
                <img src="{{site.link}}/assets/img/home-carouse-test-img.png" alt="">
            </div>
        </div>
        <div class="carousel-cell__copy">
            <div class="carousel-cell__copy-inner">
                <h1>Come LEARN at National LINC 2019</h1>
                <p>World-class keynote speakers. Leading minds within our industry. Top experts on the subjects you care most about. It’s all in one place … at National LINC 2019 in San Diego.</p>
            </div>
        </div>
    </div>

    <div class="carousel-cell">
        <div class="carousel-cell__img">
            <div class="carousel-cell__img-inner">
                <img src="{{site.link}}/assets/img/home-carouse-test-img.png" alt="">
            </div>
        </div>
        <div class="carousel-cell__copy">
            <div class="carousel-cell__copy-inner">
                <h1>Be INSPIRED to take your business further</h1>
                <p>From the moment you walk through the doors at National LINC 2019, your world will open up to new and exciting possibilities. </p>
            </div>
        </div>
    </div>

    <div class="carousel-cell">
        <div class="carousel-cell__img">
            <div class="carousel-cell__img-inner">
                <img src="{{site.link}}/assets/img/home-carouse-test-img.png" alt="">
            </div>
        </div>
        <div class="carousel-cell__copy">
            <div class="carousel-cell__copy-inner">
                <h1>NETWORK with the best of the best</h1>
                <p>Everyone you meet at National LINC 2019 has their own unique story. And you’ll have plenty of chances to meet them. Come share, learn, and grow together.</p>
            </div>
        </div>
    </div>

    <div class="carousel-cell">
        <div class="carousel-cell__img">
            <div class="carousel-cell__img-inner">
                <img src="{{site.link}}/assets/img/home-carouse-test-img.png" alt="">
            </div>
        </div>
        <div class="carousel-cell__copy">
            <div class="carousel-cell__copy-inner">
                <h1>Discover innovation that CONNECTS</h1>
                <p>Experience the latest technology, meet up with vendors, hear amazing stories, and uncover new and exciting ways to fuel your business growth.</p>
            </div>
        </div>
    </div>




</section>


