<nav class="large-nav">
    <div class="large-nav__wrapper">
        {% include "partial/large-menu.twig" with {'large_menu': large_menu.get_items, className: 'nav-menu'} %}

        <div class="mobile-cta-wrapper">
            <a class="btn">Register Now</a>
        </div>
    </div>
</nav>