<nav class="mobile-nav">
    <div class="mobile-nav__wrapper">
        {% include "partial/mobile-menu.twig" with {'mobile_menu': mobile_menu.get_items, className: 'nav-menu mobile-nav__menu'} %}
        <div class="mobile-cta-wrapper">
            <a href="http://national.tda.bozellhosting.com/national/2019/registration/" class="btn">Register Now</a>
        </div>
        <div class="header__social header__social--mobile">
            <div class="header__social-links">
                <a href="https://www.facebook.com/TDAmeritradeInstitutional/">
                    {% include 'partial/svg/facebook.svg' %}
                </a>
                <a href="https://twitter.com/TDA4advisors">
                    {% include 'partial/svg/twitter.svg' %}
                </a>
                <a href="http://www.linkedin.com/company/tdameritradeinstitutional">
                    {% include 'partial/svg/linkedin.svg' %}
                </a>
                <a href="http://youtube.com/tda4advisors">
                    {% include 'partial/svg/youtube.svg' %}
                </a>
                {# {% include 'partial/svg/instagram.svg' %} #}
            </div>
            <a href="https://twitter.com/hashtag/nationallinc?lang=en">#NationalLINC</a>
        </div>
    </div>
</nav>