<nav class="mobile-nav">
    <div class="mobile-nav__wrapper">
        {% include "partial/mobile-menu.twig" with {'mobile_menu': mobile_menu.get_items, className: 'nav-menu mobile-nav__menu'} %}
        <div class="mobile-cta-wrapper">
            <a class="btn">Register Now</a>
        </div>
        <div class="mobile-nav__social">
            <div class="mobile-nav__social-links">
                {% include 'partial/svg/facebook.svg' %}
                {% include 'partial/svg/twitter.svg' %}
                {% include 'partial/svg/instagram.svg' %}
                {% include 'partial/svg/linkedin.svg' %}
                {% include 'partial/svg/youtube.svg' %}
            </div>
            <p>#NationalLINC</p>
        </div>
    </div>
</nav>