<div class="flag">
    <div class="flag__inner">
        <div class="flag__top">
            <span class="flag__date">Feb 6-8</span>
            <span class="flag__year">2019</span>
        </div>
        <div class="flag__bottom">
            <span class="flag__hotel">Grand Hyatt </br> San Diego, CA</span>
            <span class="flag__register">Register Now</span>
        </div>
    </div>
    <a href="http://national.tda.bozellhosting.com/national/2019/registration/" class="flag__link"></a>
</div>